:root {
    --pst-font-size-base: 17px !important;
    --pst-color-primary: #fff !important;
    --pst-color-secondary: #fff !important;
    --pst-color-on-background: #6495ed !important;
    --pst-color-text-base: #204a87 !important;
    --pst-color-text-muted: var(--pst-color-base) !important;
    --pst-color-link: #aaa !important;
}


h1 {
    color: #3677a9;
}

h2 {
    color: #495057;
}

html[data-theme="light"] {
    --pst-color-link-hover: #6c757da6 !important;
}
