.toggleButton {
  line-height: inherit !important;
  border: none !important;
  margin: 1px !important;
}

.planeSliders {
  display: flex;
  align-items: center;
  padding-right: 2px;
}

.sliderIcons {
  margin: 5px !important;
  padding: 0 !important;
}

.toggledOffIcon {
  opacity: 0.45;
}

.hidden {
  display: none;
}

.visibleIcon {
  display: inline-block;
}

.uiSlidersGroup {
  opacity: 1.0;
  position: fixed;
  bottom: 0;
  left: 90px;
  width: calc(100% - 100px);
  margin: 10px 0;
}

.uiGroup {
  opacity: 1.0;
  border-radius: 4px;
  margin: 2px;
  display: block;
}

.uiRow {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.mainUIRow {
  composes: uiRow;
  justify-content: space-around;
  max-width: 420px;
}
