.toggleButton {
  line-height: inherit !important;
  border: none !important;
  margin: 1px !important;
}

.planeSliders {
  display: flex;
  align-items: center;
  padding-right: 2px;
}

.sliderIcons {
  margin: 5px !important;
  padding: 0 !important;
}

.toggledOffIcon {
  opacity: 0.45;
}

.hidden {
  display: none;
}

.visibleIcon {
  display: inline-block;
}

.uiSlidersGroup {
  background: rgba(128, 128, 128, 0.5);
  position: fixed;
  bottom: 0;
  left: 90px;
  width: calc(100% - 100px);
  margin: 10px 0;
}

.uiGroup {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 4px;
  margin: 2px;
}

.mainUIRow {
  justify-content: center;
  max-width: 420px;
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
}

.viewModeButton {
  flex: 1;
  width: 8mm;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  z-index: 1000;
}

.viewModeButton img {
  width: 1.3em;
  height: 1.3em;
}

.invertibleButtonBrightBG {
}

.invertibleButtonDarkBG {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}

.tooltipButtonBrightBG::before {
}

.tooltipButtonDarkBG::before {
  filter: invert(100%) !important;
  -webkit-filter: invert(100%) !important;
}
