.root {
  display: flex;
}

.appBar {
  position: fixed;
}

.hide {
  display: 'none';
}

.drawer {
  width: fit-content;
  position: fixed;
  top: 40px !important;
  background: none !important;
  border: none !important;
}

@media only screen and (max-height: 500px) {
  .drawer {
    width: fit-content;
    position: fixed;
    top: 40px !important;
    background: none !important;
    border: none !important;
    max-height: calc(100vh - 160px) !important;
    overflow-y: scroll;
  }
}

.content {
  flex-grow: 1;
  margin-left: -240px;
}

.contentShift {
  margin-left: 0;
}