.root {
  display: 'flex';
}

.appBar{
  position: fixed;
}

.hide {
  display: 'none';
}

.drawer {
  width: 15%;
  flex-shrink: 0;
}

.MuiDrawer-paper {
  width: 20%;
  position: fixed;
  top: 65px !important;
  background: none !important;
  border: none !important;
}

.content {
  flex-grow: 1;
  margin-left: -240px;
}

.contentShift {
  margin-left: 0;
}
